.notices {
  padding: 1.5rem;
  margin: 2 auto;
  border-radius: 9px;
  max-width: 740px;

  p:last-child {
    margin-bottom: 0 !important;
  }

  &.info {
    background-color: var(--info-light);

    p {
      color: var(--info) !important;
    }
  }
}